<h2>Update a Flower</h2>
<hr>
<br>
<form action="/flowers/<%= @flower.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<label>Flower Name: <input type="text" name="name" value="<%= @flower.name %>"></label><br>
<input type="submit">
</form>