<h1>Flowers</h1>
<hr>
<br>
<% @flowers.each do |f| %>
    <p><a href="/flowers/<%=f.id%>"><%=p.name%></a></p>
    <% end %>

<br>
<a href="/flowers/new"><Button>Add a Flower</Button></a>
<br>
<a href="/logout"><Button>Log Out</Button></a>




