<h1>Create a new Flower</h1>

<form action="/flowers" method="POST">
<label> for="name">Name:</label>
<br>
<input type="text" name="name" placeholder="flower">
<br>


<label>Choose a season: </label>
<% @seasons.each do |s| %>
    <input type="
    <% end %>

or create a new season:
<br>
<label>Season Name: </label>
<input type="text" name="season_name">
<br>
<input type="submit" name="Create a Flower">
</form>