<h2>Create a new Flower</h2>
<br>
<br>
<form action="/flowers" method="POST">

    <hr>
    <label>Flower Name: <input type="text" name="name" placeholder="flower name"></label><br>
    <input type="submit">
</form>
