<h2>Create a new Flower</h2>
<br>
<br>
<form action="/flowers" method="POST">
<label>Select Seasons:</label>
<select name="season_id">
<% @seasons.each do |season| %>
    <option value="<%= season.id %>"><%= season.name %></option>
</select>
<% end %>
<hr>
<label>Flower Name: <input type="text" name="name"></label><br>
<label>Content: <input type="text" name="content"></label><br>
<input type="submit">
</form>
